@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #FAFAFA;
}

.subheader-centered {
  text-align: center;
  padding-right: 16px;
}

.course-day {
  text-align: left;
  box-sizing: border-box;
  vertical-align: top;
  display: inline-block;
}

.text-black {
  color: black;
}

.pre-wrap {
  white-space: pre-wrap;
}

@media only screen and (min-width: 1181px) {
  .course-day {
    width: 23%;
    margin: 1%;
  }
}

@media only screen and (max-width: 1180px) {
  .course-day {
    width: 31.3%;
    margin: 1%;
  }
}

@media only screen and (max-width: 850px) {
  .course-day {
    width: 48%;
    margin: 1%;
  }
}

@media only screen and (max-width: 520px) {
  .course-day {
    width: 100%;
    margin: 2% 0 0;
  }
}

.bottom-navigation {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}

.hed {
  display: table-cell;
  vertical-align: middle;
}

.minus {
  float: right;
  position: fixed;
  right: 16px;
  top: 4px;
}

.plus {
  float: right;
  position: fixed;
  right: 70px;
  top: 4px;
}

.edit {
  float: right;
  position: fixed;
  right: 124px;
  top: 4px;
}

.admin-list-container {
  padding-bottom: 100px;
}

.small-container {
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
}

.form {
  margin-top: 14px;
}

.input-container {
  padding: 0 16px;
  box-sizing: border-box;
}

.content-container {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  padding: 10px;
  box-sizing: border-box;
}

.link {
  text-decoration: none;
}

.form-buttons {
  text-align: center;
  padding: 16px 0;
}

.form-button {
  margin: 10px 0;
}

.info-container {
  color: #9E9E9E
}

.padded-bottom {
  padding-bottom: 10px;
}

.not-found {
  text-align: center;
}